@use "settings/colors.settings.scss" as *;

:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: $Very-Dark-Blue;
}

input {
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
  display: flex;
}

button {
  background-color: initial;
  outline: initial;
  border: initial;
}
